/*
	 CSS-Tricks Example
	 by Chris Coyier
	 http://css-tricks.com
*/
div.slide_box a                               { border: 0; text-decoration: none; outline: 0; }
div.slide_box a img                                { border: 0; text-decoration: none; outline: 0; }
#page-wrap                              { width: 560px; padding: 5px; background: white; margin: 0 auto 10px; position: relative; }
#col1                                   { width: 49%; float: left; margin: 0 0 20px 0; }
#col2                                   { width: 49%; float: right; }

div.slide_box h1                                      { font: bold 10px Helvetica, Sans-Serif; letter-spacing: -2px; margin: 20px 0; text-align: center; }
div.slide_box h2                                      { font: bold 7px Helvetica, Sans-Serif; letter-spacing: -1px; margin: 0 0 10px 0; }
div.slide_box h3                                      { font: 8px Georgia, Serif; margin: 0 0 10px 0; }  
div.slide_box h5                                      { font: 7px Georgia, Serif; text-align: center; }
pre                                     { font: 7px Monaco, MonoSpace; margin: 0 0 15px 0; }
#dl                                     { position: absolute; top: 10px; right: 0; background: black; color: white; -moz-border-radius: 5px; -webkit-border-radius: 5px; padding: 3px 6px; }
#dl:hover                               { background: #666; }


/*
    This stuff is for the TitleBlock Plugin
*/
.image                                  { position: relative; margin-bottom: 20px; width: 100%; }
.image h2                               { position: absolute; top: 220px; left: 0; width: 100%; }
.image h2 span                          { color: white; font: bold 10px Helvetica, Sans-Serif; letter-spacing: -1px; background: rgb(0, 0, 0); background: rgba(0, 0, 0, 0.7); padding: 6px 8px; }
.image h2 span.spacer                   { padding: 0 2px; background: none; }


/*
    For Specific Slides
*/
#textSlide                              { padding: 0px; }
#textSlide h3                           { font: 10px Georgia, Serif; }
#textSlide h4                           { text-transform: uppercase; font: 15px Georgia, Serif; margin: 10px 0; }
#textSlide ul                           { list-style: disc; margin: 0 0 0 25px; }
#textSlide ul li                        { display: list-item; }

#quoteSlide                             { padding: 30px; }
#quoteSlide blockquote                  { font: italic 14px Georgia, Serif; text-align: center; color: #444; margin: 0 0 10px 0; }
#quoteSlide p                           { text-align: center; }
